first-successful-router-demo/src/main/mule/first-successful-router-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78a2c4d4-3e24-4287-ad47-d7795d6e4b31" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="3c276f4d-33b4-4fc4-a90a-dbaac831059c" file="config.yaml" />
	<db:config name="MySql_Database_Config" doc:name="Database Config" doc:id="cff5c8e3-ce9f-466a-8e38-d86276e863a8" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="${mysql.password}" database="${mysql.database}" />
	</db:config>
	<db:config name="PostgreSql_Database_Config" doc:name="Database Config" doc:id="32d4eee9-347f-4055-b089-e657a16364e3" >
		<db:generic-connection url="${postgres.url}" driverClassName="${postgres.dclass}" user="${postgres.username}" password="${postgres.password}" />
	</db:config>
	<flow name="first-successful-router-demoFlow" doc:id="88eb3053-5719-4045-873d-4f269c54a7e1" >
		<http:listener doc:name="/GET" doc:id="ebe10cbf-8238-48b9-a536-9e93853e569c" config-ref="HTTP_Listener_config" path="/fisrtsuccessful/{employeeId}"/>
		<set-variable value="#[attributes.uriParams.employeeId]" doc:name="ID" doc:id="20c250e7-2b1d-4c13-94b5-833e1692ca23" variableName="id"/>
		<first-successful doc:name="First Successful" doc:id="d31732a3-99fb-4623-bf99-0fdbe70eb22b" >
			<route >
				<db:select doc:name="PostgreSql" doc:id="67d4eeb8-45a6-409c-a1e8-cefaff5e1a3c" config-ref="PostgreSql_Database_Config">
					<db:sql ><![CDATA[SELECT * FROM employee
WHERE empid = :empid
]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	'empid': vars.id
}]]]></db:input-parameters>
				</db:select>
			</route>
			<route >
				<db:select doc:name="MySql" doc:id="78aeea9c-8678-4ead-af93-b3f366ff7135" config-ref="MySql_Database_Config">
					<db:sql ><![CDATA[SELECT territoryId FROM employeeterritory
WHERE employeeId = :employeeId
 ]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	'employeeId': vars.id
}]]]></db:input-parameters>
				</db:select>
			</route>
		</first-successful>
		<ee:transform doc:name="Transform Message" doc:id="2064520e-ff59-4add-8c7a-75156b5d1fdf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
